<div data-slider='2' class="feedback-screen">
    <div class="feedback-screen__content swiper-wrapper">
        <div class="feedback-screen__slide swiper-slide">
            <p class="feedback-screen__quote">
                <svg>
                    <use xlink:href='@img/icons/icons.svg#svg-quote'></use>
                </svg>
                <span data-lg='@@tab-screen2-slide1-quote'></span>
            </p>
            <p data-lg="@@tab-screen2-slide1-name" class="feedback-screen__name"></p>
            <p data-lg="@@tab-screen2-slide1-info" class='feedback-screen__sub-info'></p>
            <div class="feedback-screen__img">
                <img src="@img/@@tab/screen-2/slide-1/overlay.png" alt="overlay">
            </div>
            <button data-go-screen='7' type="button" class="feedback-screen__button">
                <span data-lg="@@tab-screen2-link"></span>
                <svg>
                    <use xlink:href='@img/icons/icons.svg#svg-arrow'></use>
                </svg>
            </button>
        </div>
        <div class="feedback-screen__slide swiper-slide">
            <p class="feedback-screen__quote">
                <svg>
                    <use xlink:href='@img/icons/icons.svg#svg-quote'></use>
                </svg>
                <span data-lg='@@tab-screen2-slide2-quote'></span>
            </p>
            <p data-lg="@@tab-screen2-slide2-name" class="feedback-screen__name"></p>
            <p data-lg="@@tab-screen2-slide2-info" class='feedback-screen__sub-info'></p>
            <div class="feedback-screen__img">
                <img data-src="@img/@@tab/screen-2/slide-2/overlay.png" alt="overlay">
                <div class='lazy-loader'></div>
            </div>
            <button data-go-screen='7' type="button" class="feedback-screen__button">
                <span data-lg="@@tab-screen2-link"></span>
                <svg>
                    <use xlink:href='@img/icons/icons.svg#svg-arrow'></use>
                </svg>
            </button>
        </div>
        <div class="feedback-screen__slide swiper-slide">
            <p class="feedback-screen__quote">
                <svg>
                    <use xlink:href='@img/icons/icons.svg#svg-quote'></use>
                </svg>
                <span data-lg='@@tab-screen2-slide3-quote'></span>
            </p>
            <p data-lg="@@tab-screen2-slide3-name" class="feedback-screen__name"></p>
            <p data-lg="@@tab-screen2-slide3-info" class='feedback-screen__sub-info'></p>
            <div class="feedback-screen__img">
                <img data-src="@img/@@tab/screen-2/slide-2/overlay.png" alt="overlay">
                <div class='lazy-loader'></div>
            </div>
            <button data-go-screen='7' type="button" class="feedback-screen__button">
                <span data-lg="@@tab-screen2-link"></span>
                <svg>
                    <use xlink:href='@img/icons/icons.svg#svg-arrow'></use>
                </svg>
            </button>
        </div>
    </div>
    <div data-slider-pagination class="pagination"></div>
</div>