<div class="screen-temp">
    <div data-slider='4' class="screen-temp__slider">
        <div class="screen-temp__slider-wrap swiper-wrapper">
            <div class="screen-temp__slide swiper-slide">
                <h2 data-lg='@@tab-screen4-slide1-title' class="screen-temp__title"></h2>
                <div class="screen-temp__img">
                    <img data-src="@img/@@tab/screen-4/slide-1/overlay.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
            </div>
            <div class="screen-temp__slide swiper-slide">
                <h2 data-lg='@@tab-screen4-slide2-title' class="screen-temp__title"></h2>
                <div class="screen-temp__img">
                    <img data-src="@img/@@tab/screen-4/slide-2/overlay.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
            </div>
            <div class="screen-temp__slide swiper-slide">
                <h2 data-lg='@@tab-screen4-slide3-title' class="screen-temp__title"></h2>
                <div class="screen-temp__img">
                    <img data-src="@img/@@tab/screen-4/slide-3/overlay.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
            </div>
        </div>
        <div data-slider-pagination class="pagination"></div>
    </div>
</div>