<div class="screen-temp">
    <h2 data-lg='@@tab-screen7-title' class="screen-temp__title"></h2>
    <p data-lg='@@tab-screen7-descr' class='screen-temp__descr'></p>
    <div data-slider='7' class="screen-temp__slider">
        <div class="screen-temp__slider-wrap swiper-wrapper">
            <div class="screen-temp__slide-imgs swiper-slide">
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-1/overlay-1.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-1/overlay-2.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-1/overlay-3.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-1/overlay-4.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-1/overlay-5.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-1/overlay-6.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
            </div>
            <div class="screen-temp__slide-imgs swiper-slide">
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-2/overlay-1.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-2/overlay-2.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-2/overlay-3.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-2/overlay-4.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-2/overlay-5.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-2/overlay-6.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
            </div>
            <div class="screen-temp__slide-imgs swiper-slide">
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-3/overlay-1.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-3/overlay-2.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-3/overlay-3.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-3/overlay-4.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-3/overlay-5.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
                <div>
                    <img data-src="@img/@@tab/screen-7/slide-3/overlay-6.png" alt="overlay">
                    <div class='lazy-loader'></div>
                </div>
            </div>
        </div>
        <div data-slider-pagination class="pagination"></div>
    </div>
</div>