<div id='formScreen' class="screen-temp ">
    <h2 data-lg="@@tab-screen8-title" class="screen-temp__title"></h2>
    <p data-lg="@@tab-screen8-descr" class='screen-temp__descr'></p>
    <form id='contactForm' class='screen-temp__form' novalidate>
        <input data-lg-placeholder='form-name' class='screen-temp__input' type="text" name="name" placeholder='Name'>
        <input data-lg-placeholder='form-email' class='screen-temp__input' type="email" name="email" placeholder='Email'>
        <input data-lg-placeholder='form-phone' class='screen-temp__input' type="tel" name="phone" placeholder='Phone'>
        <textarea data-lg-placeholder='form-notes' class='screen-temp__textarea' name="notes" placeholder='Notes'></textarea>
    </form>
    <button data-lg="apply-button" form='contactForm' type="submit" class="screen-temp__button"></button>
    <div class="form-status form-status_success">
        <div class="form-status__content">
            <svg class='form-status__icon'>
                <use xlink:href='@img/icons/icons.svg#svg-ok'></use>
            </svg>
            <p data-lg="form-text-success" class="form-status__text"></p>
        </div>
    </div>
    <div class="form-status form-status_error">
        <div class="form-status__content">
            <svg class='form-status__icon'>
                <use xlink:href='@img/icons/icons.svg#svg-error'></use>
            </svg>
            <p data-lg="form-text-error" class="form-status__text"></p>
        </div>
        <button data-lg="try-again-btn" id='tryAgainBtn' type="button" class="form-status__button"></button>
    </div>
</div>