<div class="burger">
    <div class="burger__top-line">
        <div class="burger__logo">
            <img src="@img/logo.svg" alt="logo">
        </div>
        <button type="button" class=" icon-menu close"><span></span></button>
    </div>
    <div class="burger-list">
        <h3 data-lg="burger-title" class="burger-list__title"></h3>
        <a data-lg="burger-link1" href="@src/influencers.html" class="burger-list__btn">Instashop for influencers</a>
        <a data-lg="burger-link2" href="@src/recruiters.html" class="burger-list__btn">Instashop for recruiters</a>
        <a data-lg="burger-link3" href="@src/investors.html" class="burger-list__btn">Instashop for investors</a>
    </div>
    <div class="burger-list">
        <h3 data-lg="burger-title2" class="burger-list__title"></h3>
        <button data-lg="burger-contact-btn" type='button' data-go-screen='10' class="burger-list__btn"></button>
    </div>
    <div class="language-block">
        <h3 data-lg="burger-lang-title" class="language-block__title"></h3>
        <div id='langList' class="language-block__list">
            <div class='lazy-loader'></div>
        </div>
    </div>
</div>