<footer class="footer">
	<div class="footer__top footer-contact">
		<h3 data-lg="footer-title1" class="footer-contact__title"></h3>
		<div class="footer-contact__item">
			<h4 data-lg="ooter-block-title1" class="footer-contact__item-title"></h4>
			<p class="footer-contact__item-text">
				1980 Festival Plaza dr.,
				ste 300
				Las Vegas
			</p>
		</div>
		<div class="footer-contact__item">
			<h4 data-lg="ooter-block-title2" class="footer-contact__item-title"></h4>
			<a class='footer-contact__item-link' href="tel:+7252721560">(725) 272 - 1560</a>
			<a class='footer-contact__item-link' href="mailto:contacts@instashop.io">contacts@instashop.io</a>
		</div>
	</div>
	<div class="footer__bottom footer-links">
		<h3 data-lg="footer-title2" class="footer-links__title"></h3>
		<div class="footer-links__list">
			<a data-lg="footer-link1" href="#" class="footer-links__link"></a>
			<a data-lg="footer-link2" href="#" class="footer-links__link"></a>
			<a data-lg="footer-link3" href="#" class="footer-links__link"></a>
			<a data-lg="footer-link4" href="#" class="footer-links__link"></a>
		</div>
	</div>
</footer>