<header id='header' class="header">
	<div class='header__content'>
		<button type="button" class="icon-menu"><span></span></button>
		<div class='header__city-list'>
			<div class="header__city">Los Angeles</div>
			<div class="header__city">New York</div>
			<div class="header__city">London</div>
			<div class="header__city">Berlin</div>
		</div>
	</div>
	<div class='header__logo-content'>
		<div class="header__logo">
			<img src="@img/logo.svg" alt="logo">
		</div>
		<h1 data-lg="header-tagline" class='header__logo-text'></h1>
	</div>
	<div class="main-tabs @@tab">
		<a data-lg="tab1" href='@src/influencers.html' class="main-tabs__item _active">For Influencers</a>
		<a data-lg="tab2" href='@src/recruiters.html' class="main-tabs__item">For Recruiters</a>
		<a data-lg="tab3" href='@src/investors.html' class="main-tabs__item">For Investors</a>
	</div>
</header>