// Fonts
@import 'fonts';
// Vars
@import 'vars';
// Null ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================

@import 'null';
// Body Style============================================================================================================================================================================================================================================================================================================================================================================================
body {
   background: var(--bg-body);
}
// Wrapper Style============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   background: var(--bg-wrapper);
   margin: auto;
   height: 100%;
   min-height: 720px;
   max-width: 480px;
   position: relative;
   overflow-x: hidden;

   @media (max-width: 480px) {
      min-height: 620px;
   }
   @supports (overflow: clip) {
      overflow: clip;
   }
}

//MainSlider========================================================================================================================================================
.main-slider {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   &__content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition-duration: 1200ms !important;
      will-change: translate3d;
   }
   &__slide {
      flex: 0 0 100%;
      padding: 135px 15px 15px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      &:first-child {
         padding: 192px 15px 15px;
      }
   }
}

//UI
@import './common.scss';
//Components
@import './components/header.scss';
@import './components/burger.scss';
@import './components/screens.scss';
@import './components/footer.scss';
