:root {
   //TYPOGRAPHY========================================================================================================================================================
   //Шрифт по умолчанию
   --font: 'Inter';
   //Основной цвет текста
   --base-text-color: #4f4f4f;
   //Цвет текста который реализован градиентом
   --gradient-text-color: linear-gradient(
      135deg,
      rgb(51, 51, 51),
      rgb(8, 110, 20)
   );
   // **Если необходим цвет текста без градиента необходимо указывать два раза одинаковый цвет
   // **Пример linear-gradient(135deg,rgb(255, 255, 255),rgba(255, 255, 255)

   //MAIN BG========================================================================================================================================================
   // Цвет Body
   --bg-body: #f9f8f8;
   // Цвет wrapper
   --bg-wrapper: #f9f8f8;

   //BURGER========================================================================================================================================================
   //Фоновый цвет бургера
   --burger-bg: linear-gradient(135deg, #f9f8f8 0%, rgb(73, 139, 79) 170%);
   //Закругление бургера
   --burger-border-radius: 20px;
   //Цвет иконки бургера
   --burger-icon-color: #4f4f4f;
   //Цвет заголовков в бургере
   --burger-list-title: rgba(110, 110, 110, 1);
   //Цвет активного языка
   --burger-lang-item-color-active: linear-gradient(
      135deg,
      #e3ff77 0%,
      #60f519 100%
   );

   //TABS========================================================================================================================================================
   //Фоновый цвет табов
   --tabs-bg: linear-gradient(
      135deg,
      rgba(227, 255, 119, 0.1) 0%,
      rgba(96, 245, 25, 0.1) 100%
   );
   //Цвет текста табов
   --tabs-text-color: #4f4f4f;
   // Фоновый цвет активного таба
   --tabs-active-bg: linear-gradient(135deg, #e3ff77 0%, #60f519 100%);
   // Цвет текста активного таба
   --tabs-text-active-color: #4f4f4f;
   // Закругление табов
   --tabs-border-radius: 12px;

   //SCREEN========================================================================================================================================================
   // Цвет фона экрана
   --screen-bg: #e6e1e1;
   // Цвет бордера экрана
   --screen-border-color: rgba(96, 245, 25, 0.4);
   // Закругление экрана
   --screen-border-radius: 16px;
   // Цвет фонового изображения под экраном
   --screen-img-bg: radial-gradient(
      66.23% 70.71% at 50% 50%,
      rgba(227, 255, 119, 0.36) 0%,
      rgba(96, 245, 25, 0.36) 100%
   );
   // Размер фонового изображения под экраном
   --screen-img-bg-size: 320px;
   // Цвет кавычек в цытате
   --quote-color: #60f519;
   // Фон лейбла
   --label-bg: linear-gradient(135deg, #e3ff77 0%, #60f519 100%);
   // Цвет текста лейбла
   --label-text-color: #4f4f4f;
   // Цвет булита
   --pagination-bg: rgba(255, 255, 255, 1);
   // Цвет активого булита
   --pagination-bg-active: #60f519;
   //BUTTONS========================================================================================================================================================
   // Фон кнопки
   --button-bg: linear-gradient(135deg, #e3ff77 0%, #60f519 100%);
   // Цвет текста кнопки
   --button-text-color: #4f4f4f;

   //FORM========================================================================================================================================================
   // Фон инпута
   --input-bg: linear-gradient(135deg, #f9f8f8 0%, rgba(68, 72, 69, 0.2) 100%);
   // Цвет  текста инпута
   --input-text-color: #4f4f4f;
   // Цвет ошибки валидации инпута
   --input-error-color: red;

   //LOADERS========================================================================================================================================================
   // Фон основного лоадера сайта
   --site-loader-bg: linear-gradient(135deg, #e3ff77 0%, #60f519 100%);
   // Цвет самого лойдера
   --sity-loader-color-1: #4f4f4f;
   // Цвет самого лойдера
   --sity-loader-color-2: #f9f8f8;
   // Цвет лоадера для картинок/информации
   --lazy-loader-color: #4f4f4f;
   // Размер лоадера для картинок/информации
   --lazy-loader-size: 30px;

   //ANIMATION========================================================================================================================================================
   // Анимация при первом переходе на слайд
   --cb: cubic-bezier(0.25, 0.46, 0.45, 0.94);

   //UTILS COLOR========================================================================================================================================================
   --white: #4f4f4f;
   --black: #000000;
}
